[user]
  email = 25326494+EliaECoyote@users.noreply.github.com
  name = EliaECoyote
[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = git://github.com/
[pull]
  ff = only
[core]
  editor = nvim
  hooksPath = /usr/local/dd/global_hooks
  excludesfile = /Users/elia.camposilvan/.gitignore
  # To improve perf in monorepos
  fsmonitor = 
  untrackedcache = true
[alias]
  s = status
  d = diff
  o = push -u origin HEAD
  p = pull
  c = commit
  cm = commit -m
  logme = log --perl-regexp --author='(Elia Camposilvan|EliaECoyote)'
  l = log --pretty=short --abbrev-commit
  a = add -p
  e = commit --allow-empty -m
  ch = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
  pull-submodules = !git submodule update --init --recursive --remote
  review = "!git pull origin \"$1:$1\" && git checkout \"$1\" #"
  pretty-log = log --pretty='%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s'
  co-main = "!sh -c 'git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')'"
  main = "!sh -c 'git symbolic-ref refs/remotes/origin/HEAD | sed \"s@^refs/remotes/origin/@@\"'"
  rm-submodule = config -f .gitmodules --remove-section submodule.
[push]
  default = current
[log]
  follow = true
[rerere]
  enabled = true
[merge]
  tool = fugitive
[mergetool]
  prompt = true
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[rebase]
  autoStash = true
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[gpg]
  format = ssh
