""" Plugins  --------------------------------
set surround
set commentary

""" Common settings -------------------------
set cursorline
set relativenumber
set number

""" Mappings --------------------------------
" Tip: Enable "Track Action Ids" to identify actions.
map F2 <Action>(RenameElement)

map ]g <Action>(GotoNextError)
map [g <Action>(GotoPreviousError)
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)
map <C-f> <Action>(ReformatCode)
map <leader>tt <Action>(RunClass)
map <leader>fb <Action>(ActivateProjectToolWindow)
