; Refer to https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
; See example at https://gist.github.com/gsinclair/f4ab34da53034374eb6164698a0a8ace
; Run `gokuw` to regenerate karabiner.json config automatically.
{
  :profiles {:Default {
     :default true
     :sim 50    ;; Simultaneous threshold (ms)
     :delay 210 ;; Delayed action delay (match with :held)
     :held 210  ;; Hold-down threshold
     :alone 209 ;; Must be exactly 1ms less than :held to avoid stuck layers 
  }}

  :devices {
    :builtin-keyboard [{:is_built_in_keyboard true}]
    :epomaker-SK61 [{:product_id 2311 :vendor_id 7847}]
    :keychron [{:product_id 13364 :vendor_id 3379}]
  }

  :main [
     {:des "[global] defaults"
      :rules [
         [:!STleft_arrow     :!SOleft_arrow]
         [:!STright_arrow    :!SOright_arrow]
         [:!STup_arrow       :!SOup_arrow]
         [:!STdown_arrow     :!SOdown_arrow]
         [:!Tleft_arrow      :!Oleft_arrow]
         [:!Tright_arrow     :!Oright_arrow]
         [:!Tup_arrow        :!Oup_arrow]
         [:!Tdown_arrow      :!Odown_arrow]
      ]}

     {:des "Swap Alt and Command"
      :rules [:epomaker-SK61
         [:left_option     :left_command]
         [:left_command    :left_option]
         [:right_option    :right_command]
         [:right_command   :right_option]
      ]}

     {:des "[builtin-keyboard] defaults"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:##caps_lock       :left_control]
      ]}

     {:des "[builtin-keyboard] fn+number → f keys"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:!F1           :display_brightness_decrement]
         [:!F2           :display_brightness_increment]
         [:!F3           :mission_control]
         [:!F4           :launchpad]
         [:!F7           :rewind]
         [:!F8           :play_or_pause]
         [:!F9           :fast_forward]
         [:!F0           :mute]
         [:!Fhyphen      :volume_decrement]
         [:!Fequal_sign  :volume_increment]
      ]}

     {:des "[builtin-keyboard] f keys → system functions"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:f1         :display_brightness_decrement]
         [:f2         :display_brightness_increment]
         [:f3         :mission_control]
         [:f4         :launchpad]
         [:f7         :rewind]
         [:f8         :play_or_pause]
         [:f9         :fast_forward]
         [:f10        :mute]
         [:f11        :volume_decrement]
         [:f12        :volume_increment]
      ]}

     {:des "[builtin-keyboard] colemak DH"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
        [:##e           :f]
        [:##r           :p]
        [:##t           :b]
        [:##y           :j]
        [:##u           :l]
        [:##i           :u]
        [:##o           :y]
        [:##quote       :semicolon]
        [:##p           :quote]
        [:##semicolon   :o]
        [:##s           :r]
        [:##d           :s]
        [:##f           :t]
        [:##h           :m]
        [:##j           :n]
        [:##k           :e]
        [:##l           :i]
        [:##z           :x]
        [:##x           :c]
        [:##c           :d]
        [:##b           :z]
        [:##n           :k]
        [:##m           :h]
      ]}
  ]
}
