; Refer to https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
; See example at https://gist.github.com/gsinclair/f4ab34da53034374eb6164698a0a8ace
; Run `gokuw` to regenerate karabiner.json config automatically.
{
  ; :profiles {:Default {:default true
  ;     ;; simultaneous key press threshold
  ;     ;; simlayer is implemented with to_if_alone and simultaneous key press feature
  ;     :sim     250
  ;     ;; to_delayed_action_delay_milliseconds
  ;     ;; checkout karabiner's documentation
  ;     ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/to-delayed-action/
  ;     ;; basically it means time after which the key press is count delayed
  ;     :delay   500
  ;     ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/to-if-alone/
  ;     ;; to_if_alone_timeout_milliseconds
  ;     ;; affects to_if_alone behavior
  ;     ;; simlayer is implemented with to_if_alone and simultaneous key press feature
  ;     :alone   1000
  ;     ;; to_if_held_down_threshold_milliseconds
  ;     ;; check the doc, I don't know what does this mean.
  ;     ;; maybe press this many milliseconds counts a "held" ?
  ;     :sim    2000
  ; }}

  :devices {
    :builtin-keyboard [{:product_id 834 :vendor_id 1452}]
    :epomaker-SK61 [{:product_id 2311 :vendor_id 7847}]
    :keychron [{:product_id 13364 :vendor_id 3379}]
  }

  :simlayers {
    :f-layer {:key :f :builtin-keyboard :epomaker-SK61}
  }

  :main [
     {:des "[global] defaults"
      :rules [
         [:!STleft_arrow     :!SOleft_arrow]
         [:!STright_arrow    :!SOright_arrow]
         [:!STup_arrow       :!SOup_arrow]
         [:!STdown_arrow     :!SOdown_arrow]
         [:!Tleft_arrow      :!Oleft_arrow]
         [:!Tright_arrow     :!Oright_arrow]
         [:!Tup_arrow        :!Oup_arrow]
         [:!Tdown_arrow      :!Odown_arrow]
         [:!Topen_bracket    :escape]
      ]}

     {:des "Swap Alt and Command"
      :rules [:epomaker-SK61
         [:left_option :left_command]
         [:left_command :left_option]
         [:right_option :right_command]
         [:right_command :right_option]
      ]}

     {:des "[builtin-keyboard] defaults"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:##caps_lock       :left_control]
         [:##escape          :grave_accent_and_tilde]
         [:##left_control    :fn]
      ]}

     {:des "[builtin-keyboard] fn+number → f keys"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:!F1           :display_brightness_decrement]
         [:!F2           :display_brightness_increment]
         [:!F3           :mission_control]
         [:!F4           :launchpad]
         [:!F7           :rewind]
         [:!F8           :play_or_pause]
         [:!F9           :fast_forward]
         [:!F0           :mute]
         [:!Fhyphen      :volume_decrement]
         [:!Fequal_sign  :volume_increment]
      ]}

     {:des "[builtin-keyboard] f keys → system functions"
      :rules [[:condi :builtin-keyboard :epomaker-SK61]
         [:f1                :display_brightness_decrement]
         [:f2                :display_brightness_increment]
         [:f3                :mission_control]
         [:f4                :launchpad]
         [:f7                :rewind]
         [:f8                :play_or_pause]
         [:f9                :fast_forward]
         [:f10               :mute]
         [:f11               :volume_decrement]
         [:f12               :volume_increment]
      ]}


     {:des "[builtin-keyboard] f-layer"
      :rules [:f-layer
        [:s                      :left_shift]
        [:h                      :left_arrow]
        [:j                      :down_arrow]
        [:k                      :up_arrow]
        [:l                      :right_arrow]
        [:!Th                    :!Oleft_arrow]
        [:!Tj                    :!Odown_arrow]
        [:!Tk                    :!Oup_arrow]
        [:!Tl                    :!Oright_arrow]
        [:!STh                   :!SOleft_arrow]
        [:!STj                   :!SOdown_arrow]
        [:!STk                   :!SOup_arrow]
        [:!STl                   :!SOright_arrow]
        [:##spacebar             :!Odelete_or_backspace]
        [:grave_accent_and_tilde :escape]
        [:1                      :f1]
        [:2                      :f2]
        [:3                      :f3]
        [:4                      :f4]
        [:5                      :f5]
        [:6                      :f6]
        [:7                      :f7]
        [:8                      :f8]
        [:9                      :f9]
        [:0                      :f10]
        [:hyphen                 :f11]
        [:equal_sign             :f12]
      ]}
  ]
}
